<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <div id="lista-compras" class="container">
        <div class="header">
            <h1>
                {{ header ? header.toUpperCase() : 'Bienvenido' }}
            </h1>

            <button v-if="estado" @click="estado=!estado" class="btn btn-info mb-2">Agregar</button>

            <button v-else @click="estado=!estado" class="btn btn-danger mb-2">Cancelar</button>
        </div>

        <div class="row" v-if="!estado">
            <input class="form-control mr-2 ml-3 mb-2 col-3" type="text" placeholder="Nuevo útil" v-model="newUtil" @keypress.enter="agregarUtil">

            <button @click="agregarUtil" :disabled="newUtil.length == 0" class="btn btn-primary btn-small"> Agregar elemento</button>
        </div>

        <ul>
            <li v-for="(util, index) in utiles" @click="comprado(index)">
                <div class="alert alert-primary" :class=" util.comprado ? 'tachado' : ''"><b>{{ util.util.toUpperCase() }}</b></b>
                </div>
            </li>
        </ul>

        <h6 v-if="utiles.length==0">No existen elementos en la lista</h6>


    </div>


    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="components/index.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>